{% extends 'portfolio/base.html' %}
{% block content %}
    {% for project in projects %}
    {% load static %}
    <a href="{% static 'portfolio/Himanshu.pdf' %}">Resume</a>
    <a href="{% url 'blog:all_blogs' %}">BLOGS</a>
    <img src="{% static 'portfolio/robot.jpeg' %}">
    <h1>{{ project.title }}</h1>
    <p>{{ project.description }}</p>
    <img src="{{ project.image.url }}" height=300 width=300>
    <br>
    {% if project.url %}
    <a href="{{ project.url }}">Link</a>
    {% endif %}
    {% endfor %}
{% endblock %}
